.App {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}


